.card-builder{

background:var(--surface);

color:var(--text);
display:grid;

grid-template-columns:350px 1fr;

gap:30px;

padding:30px;


}



.card-controls,
.card-preview{


background: var(--surface);
color: var(--text);

padding:30px;

border-radius:15px;

box-shadow:0 10px 25px rgba(148, 146, 146, 0.08);


}



.card-controls{


display:flex;

flex-direction:column;

gap:15px;


}



.card-controls input,
.card-controls textarea{


padding:12px;

border:1px solid #ddd;

border-radius:8px;


}



.card-controls textarea{


height:100px;

resize:none;


}



.card-controls button{


background:#6366f1;

color:white;

border:none;

padding:12px;

border-radius:8px;

cursor:pointer;


}



.card-preview{
    /* background-color: red !important; */
    background: var(--surface) !important;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;


}



.preview-card{


width:320px;

overflow:hidden;

transition:.3s;


}



.preview-card img{


width:100%;

height:160px;

object-fit:cover;

border-radius:inherit;


}



.preview-card h3{


margin-top:20px;

color:#111827;

}



.preview-card p{


color:#6b7280;

margin:15px 0;


}



.preview-card button{


background:#6366f1;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;


}





@media(max-width:900px){


.card-builder{


grid-template-columns:1fr;


}


}