.navbar{


height:75px;

/* background:white; */

background: var(--surface);
/* background-color: yellowgreen !important; */
display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

border-bottom:1px solid #e5e7eb;

position:sticky;

top:0;

z-index:100;


}



.nav-left{


display:flex;

align-items:center;

gap:20px;


}


.nav-left h2{

font-size:22px;

color:var(--text);

}



/* Mobile Menu */


.mobile-menu{

display:none;

font-size:22px;

border:none;

background:none;

cursor:pointer;

}



/* Search */


.search-box{


display:flex;

align-items:center;

gap:10px;

background:#f3f4f6;
/* background: var(--surface); */
padding:10px 15px;

border-radius:10px;

width:350px;


}



.search-box input{


border:none;

outline:none;

background:none;

width:100%;

font-size:14px;


}



/* Right Section */


.nav-right{


display:flex;

align-items:center;

gap:15px;


}



.icon-btn{


width:40px;

height:40px;

border:none;

border-radius:50%;

background:#f3f4f6;

/* background-color: red; */

cursor:pointer;

font-size:18px;
padding: 0px;

}



.icon-btn:hover{

background:#e5e7eb;

}




/* Profile */


.profile-container{

position:relative;

}



.profile-btn{


display:flex;

align-items:center;

gap:10px;

border:none;

background:none;

cursor:pointer;


}


.avatar{


width:40px;

height:40px;

background:#6366f1;

/* color:white; */
color:var(--text);

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;


}




/* Dropdown */


.dropdown{

font-size: medium !important;
position:absolute;

right:0;

top:70px;

background: var(--surface);

/* width:200px; */

width: min-content;
height: min-content;

padding:10px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,.15);


}



.dropdown p{


padding:10px;

cursor:pointer;

border-radius:8px;


}



.dropdown p:hover{


background:#f3f4f6;
color: black;


}





/* Responsive */


@media(max-width:900px){


.mobile-menu{

display:block;

}


.search-box{

display:none;

}


.navbar{

padding:0 15px;

}


}


@media(max-width:500px){


.profile-btn span{

display:none;

}


}